# VerificationReport

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**verifications** | [**list[VerificationData]**](VerificationData.md) | A list of verifications. | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


